<!DOCTYPE html>
<html>
<head>
  <title>Sathish Jayapal- Pefect developer</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container-fluid">
  <nav class="navbar-inverse">
    <!--<div class="container">-->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sathish Recipes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-3">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">iOS</a></li>
        <li><a href="#">Java</a></li>
        <li><a href="#">Ruby & Rails</a></li>
        <li><a href="#">Javascript</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
    <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
  </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->
<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
